In [11]:
import pandas as pd
import pickle
from pathlib import Path

In [13]:
DATASET_PATH = Path('/') / 'DATA' / 'asaginbaev' / 'CourseOCRTask3' 

TRAIN_PATH, TEST_PATH = DATASET_PATH / 'Train', DATASET_PATH / 'Test'

NAMES = ['path', 'code', 'x1', 'y1', 'x2', 'y2', 'x3', 'y3', 'x4', 'y4', 'barcode']

In [20]:
with open('test_coord.pkl', 'rb') as f:
    test_coord = pickle.load(f)

In [33]:
test_ref = pd.read_csv('markup.csv', header=None, encoding='utf-16', names=NAMES)

In [34]:
data = {
    'path': [i.name for i in test_coord.keys()],
    'code': [test_ref[test_ref['path'] == i.name]['code'].item() for i in test_coord.keys()],
    'x1': [test_coord[i]['x1'] for i in test_coord.keys()],
    'y1': [test_coord[i]['y1'] for i in test_coord.keys()],
    'x2': [test_coord[i]['x2'] for i in test_coord.keys()],
    'y2': [test_coord[i]['y2'] for i in test_coord.keys()],
    'x3': [test_coord[i]['x3'] for i in test_coord.keys()],
    'y3': [test_coord[i]['y3'] for i in test_coord.keys()],
    'x4': [test_coord[i]['x4'] for i in test_coord.keys()],
    'y4': [test_coord[i]['y4'] for i in test_coord.keys()],
    'barcode': ['1' * 95 for _ in test_coord.keys()]
}
answer = pd.DataFrame.from_dict(data)
answer.to_csv('answer.csv', index=None, header=None, encoding='utf-16')
answer.to_csv('test_markup.csv', index=None, header=None, encoding='utf-16')

In [22]:
with open('train_coord.pkl', 'rb') as f:
    train_coord = pickle.load(f)

In [23]:
train_ref = pd.read_csv(TRAIN_PATH / 'markup.csv', header=None, encoding='utf-16', names=NAMES)

In [30]:
data = {
    'path': [i.name for i in train_coord.keys()],
    'code': [train_ref[train_ref['path'] == i.name]['code'].item() for i in train_coord.keys()],
    'x1': [train_coord[i]['x1'] for i in train_coord.keys()],
    'y1': [train_coord[i]['y1'] for i in train_coord.keys()],
    'x2': [train_coord[i]['x2'] for i in train_coord.keys()],
    'y2': [train_coord[i]['y2'] for i in train_coord.keys()],
    'x3': [train_coord[i]['x3'] for i in train_coord.keys()],
    'y3': [train_coord[i]['y3'] for i in train_coord.keys()],
    'x4': [train_coord[i]['x4'] for i in train_coord.keys()],
    'y4': [train_coord[i]['y4'] for i in train_coord.keys()],
    'barcode': ['1' * 95 for _ in train_coord.keys()]
}
answer = pd.DataFrame.from_dict(data)
answer.to_csv('train_markup.csv', index=None, header=None, encoding='utf-16')

In [31]:
answer.head()

,path,code,x1,y1,x2,y2,x3,y3,x4,y4,barcode
0,fc272e4092ccb147a31e66bc1d10fbfb.png,3601514743345,553,255,1555,246,1571,642,544,666,1111111111111111111111111111111111111111111111...
1,8cde8cb1b54bca37c9347baf74157d22.png,7000001062307,159,471,365,457,352,1269,139,1269,1111111111111111111111111111111111111111111111...
2,70a9be0887eae17eabd70c8e607f963f.png,2250001407126,439,254,1188,257,1214,628,443,626,1111111111111111111111111111111111111111111111...
3,a029e49dff95a15d2cd396d8f62220c8.png,10101427156,350,155,984,164,991,431,345,430,1111111111111111111111111111111111111111111111...
4,82ff01909b6d215170dfc26c7be43074.png,2400745402226,489,272,1370,281,1366,687,482,674,1111111111111111111111111111111111111111111111...

In [27]:
ref.dtypes

path       object
code        int64
x1          int64
y1          int64
x2          int64
y2          int64
x3          int64
y3          int64
x4          int64
y4          int64
barcode    object
dtype: object